<!DOCTYPE html>

<html lang="en">

<%- include('part/head') %>

<body>
    <%- include('part/header') %>

    <% if (list[1]) { %>
    <div class="mainBody flex-col" id="pastesList">
        <% list.forEach(function(paste){ %>
            <a target="_blank" class="listElemt" href='/<%= paste.hash %>'>
                <p class="li"><%= paste.name %></p>
                <p class="li"><%= paste.syntax %></p>
                <p class="li"><%= paste.time %></p>
        </a>
        <% }); %>
    <% } else { %>
    <p>empty</p>
    <% }; %>
    </div>
    
</body>

</html>